# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
venv/
.env

# Tooling caches
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/

# Local SQLite databases created by the sqlite adapter
*.db
*.sqlite3

# Editors / OS
.DS_Store
.idea/
